header {
    background-color: $color_2;
    display: flex;
    gap: 20px;
    grid-gap: 20px;

    @include mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}

.navbar {
    font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", Georgia, "Times New Roman", Times, serif;
}

.container-fluid {
    @include mobile{
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: center !important;
        justify-content: flex-start !important;
    }
}

.logo {
    width: 100px;

    @include mobile {
        height: 100%;
    }
}

.navbar-active {
    @include mobile{
		display: block;
    }
}

.btn-nav {
    @include mobile {
        border-color: $border-color_3;
        
		&:hover {
			background-color: $color_2;
			border-color: $border-color_3;
		}
    }
}

.navbarCos {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.navbar-navCos {
	.nav-itemCos {
		&:not(:first-child) {
			display: none;
		}
		&:first-child {
			&:hover {
				.dropdown-menu {
					display: block;
				}
			}
		}
	}
}