.imagenFondo {
    background-image: $imagen-fondo;
    background-size:  auto auto;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mobile {
        min-height: 100vh;
    }
}

.sectionIndex {
    width: 800px;
    margin-top: 45px;
    border-radius: 10px;  
    background-color: $color_transparente_2;

    h4 {
        max-width: 90%;
        padding: 5px;
        margin: 0;
        text-align: center;
        border-radius: 10px;
        background-color: $color_transparente_1;
        color:  $color-titulo;
        font-family: adobe-garamond-pro-1,adobe-garamond-pro-2,Georgia,Times New Roman,Times,serif;

        @include mobile {
            max-width: 100%;
            padding: 10px 5px;
        }

        @include tablet {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    
    p {
        text-align: justify;
        padding: 5px 10px 5px;
        margin: 5px;
        border-radius: 10px;
        background-color: $color_transparente_1;
        color:  $color-1;
    }

    @include mobile {
        max-width: 85%;
    }

    @include tablet {
        margin-bottom: 45px;
        border-radius: 20px;
    }
}

.carousel-caption {
    @include mobile {
        display: block !important;
        }
    }
    
.container-fluid-i {
    @include mobile {
        width: auto;
        margin: auto;
    }
}
