.imagenFondo {
    background-image: $imagen-fondo;
    background-size:  auto auto;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mobile {
        min-height: 100vh;
    }
}

.sectionIndex {
    max-width: 85%;
    margin-top: 45px;
    border-radius: 10px;  
    background-color: $color_transparente_2;

    @include mobile {
        max-width: 100%;
    }
    @include tablet {
        margin-bottom: 45px;
        border-radius: 20px;
    }

    h4 {
        max-width: 100%;
        padding: 5px;
        margin: 0;
        text-align: center;
        border-radius: 10px;
        background-color: $color_transparente_1;
        color:  $color-titulo;
        font-family: adobe-garamond-pro-1,adobe-garamond-pro-2,Georgia,Times New Roman,Times,serif;
        font-size: 1.5rem;

        @include mobile {
            max-width: 100%;
            padding: 10px 5px;
            font-size: 1.2rem;
        }
        @include tablet {
            border-radius: 20px;
            font-size: 1.3rem;
        }
    }
    
    p {
        text-align: justify;
        padding: 5px 10px 5px;
        margin: 10px;
        border-radius: 15px;
        background-color: $color_transparente_1;
        color:  $color-1;
        font-size: 1.1rem;

        @include mobile {
            font-size: 0.9rem;
        }
        @include tablet {
            font-size: 1.2rem;
        }
    }
}