$color_1: white;
$color_2: black;
$color_3: rgb(2, 26, 26);
$color_transparente_1: rgba(8, 55, 55, 0.931);
$color_transparente_2: rgba(0, 0, 0, 0.412);
$color-fondo-claro: rgb(124, 195, 194);
$color-fondo-oscuro: rgb(4, 47, 47);
$color-fondo-titulo: rgb(8, 55, 55);
$background-color_1: #001621;
$background-color_2: #003552;
$color-titulo: rgb(230, 255, 255);
$color-texto: #001411;
$color-boton: rgb(0, 100, 94);
$color-boton-hover: rgb(0, 54, 54);
$border-color_1: #00211c;
$border-color_2: #003b33;
$border-color_3: grey;

$imagen-fondo: url("../images/folk-pattern-black.png");
$imagen-historia: url("../images/Skyrim_wallpaper.jpg");
$imagen-cosmology: url("../images/Fondo_grande_3.png");
$imagen-vacio: url("../images/The_void.png");